<div id="content">
  <p class="heading1">Barocert SDK Ruby On Rails Example</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <ul>
      <li>ReceiptID (접수 아이디) : <%= @Response["receiptID"] %></li>
      <li>ClientCode (이용기관 코드) : <%= @Response["clientCode"] %></li>
      <li>State (상태코드) : <%= @Response["state"] %></li>
      <li>ExpireIn (요청 만료시간) : <%= @Response["expireIn"] %></li>
      <li>CallCenterName (이용기관 명) : <%= @Response["callCenterName"] %></li>
      <li>CallCenterNum (이용기관 연락처) : <%= @Response["callCenterNum"] %></li>
      <li>ReqTitle (인증요청 메시지 제목) : <%= @Response["reqTitle"] %></li>
      <li>AuthCategory (인증분류) : <%= @Response["authCategory"] %></li>
      <li>ReturnURL (복귀 URL) : <%= @Response["returnURL"] %></li>
      <li>RequestDT (서명요청일시) : <%= @Response["requestDT"] %></li>
      <li>ViewDT (서명조회일시) : <%= @Response["viewDT"] %></li>
      <li>CompleteDT (서명완료일시) : <%= @Response["completeDT"] %></li>
      <li>ExpireDT (서명만료일시) : <%= @Response["expireDT"] %></li>
      <li>VerifyDT (서명검증일시) : <%= @Response["verifyDT"] %></li>
      <li>Scheme (앱스킴) : <%= @Response["scheme"] %></li>
      <li>AppUseYN (앱사용유무) : <%= @Response["appUseYN"] %></li>
    </ul>
  </fieldset>
</div>
