<div id="content">
  <p class="heading1">Exception</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <ul>
      <li>ReceiptID (접수아이디) : <%= @Response['receiptID'] %></li>
      <li>State (상태) : <%= @Response['state'] %></li>
      <li>SignedData (전자서명 데이터 전문) : <%= @Response['signedData'] %></li>
      <li>Ci (연계정보) : <%= @Response['ci'] %></li>
    </ul>
  </fieldset>
</div>
