<div id="content">
  <p class="heading1">Barocert Ruby On Rails Example</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <ul>
      <li>TxID (트랜잭션 아이디) : <%= @Response['txID'] %></li>
      <li>State (상태) : <%= @Response['state'] %></li>
      <li>SignedData (전자서명 데이터 전문) : <%= @Response['signedData'] %></li>
      <li>Ci (연계정보) : <%= @Response['ci'] %></li>
      <li>ReceiverName (수신자 성명) : <%= @Response['receiverName'] %></li>
      <li>ReceiverYear (수신자 출생년도) : <%= @Response['receiverYear'] %></li>
      <li>ReceiverDay (수신자 출생월일) : <%= @Response['receiverDay'] %></li>
      <li>ReceiverHP (수신자 휴대폰번호) : <%= @Response['receiverHP'] %></li>
      <li>ReceiverGender (수신자 성별) : <%= @Response['receiverGender'] %></li>
      <li>ReceiverForeign (외국인 여부) : <%= @Response['receiverForeign'] %></li>
      <li>ReceiverTelcoType (통신사 유형) : <%= @Response['receiverTelcoType'] %></li>
    </ul>
  </fieldset>
</div>
