<div id="content">
  <p class="heading1">Barocert SDK Ruby On Rails Example</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <ul>
      <li>ReceiptID (접수 아이디) : <%= @Response["receiptID"] %></li>
      <li>ClientCode (이용기관 코드) : <%= @Response["clientCode"] %></li>
      <li>State (상태) : <%= @Response["state"] %></li>
      <li>ExpireDT (서명만료일시) : <%= @Response["expireDT"] %></li>
    </ul>
  </fieldset>
</div>
